@import 'globals';

html,
body {
    margin: 0;
    height: auto;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../img/avengers.jpg);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // height: 100vh;
    // background-position: fixed;
    // min-width: 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    font-family: 'Vollkorn',serif;

    h5 {
        color: rgb(27, 136, 72);
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    img {
        height: 30%;
        width: 30%;
    }
    .navbar-brand {
        // font-family: 'Gaegu', cursive;
        font-size: 30px;
        color: rgb(161, 226, 161);
    } 
    .media {
        max-width: 50%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.753);
        padding: 20px;
        margin-top: 20px;
        border-radius: 2px;
    }


}



a:link,
a:visited {
    color: #169e83;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #169e83;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #169e83;
    color: #fff;
}